.form {
    margin-bottom: 25px !important;
    margin-right: auto;
    margin-left: auto;
}

.submitBtn {
    margin-left: 5px;
    background-color: rgb(7, 7, 102);
    border: none;
}

.results tr:nth-child(odd) {
    background: gray !important;
}

.results tr:nth-child(even) {
    background: white;
}